:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

h1,
h2 {
  text-align: center;
  color: royalblue;
}

.mat-card {
  width: 100%;
  max-width: 900px;
  margin: 20px;
  padding: 20px;
  border: 3px solid royalblue;
  border-radius: 10px;
}

.mat-form-field {
  width: 100%;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 10px;
}

.mat-form-field mat-label {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#profile-form {
  text-align: center;
}

.profile-form,
.edit-form {
  width: 50%;
  max-width: 500px; /* Adjust as needed */
  margin: auto;
}

.profile-form p,
.edit-form p {
  font-size: 18px;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: royalblue;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: white;
  color: royalblue;
}

.movie-card-container {
  margin-top: 20px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  margin: 10px;
  max-width: 300px;
}

@media (min-width: 300px) {
  .profile-form,
  .edit-form {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .profile-form,
  .edit-form {
    width: 50%;
  }
}
