<div>
  <h1>User Profile</h1>
  <div *ngIf="!editMode" id="profile-form">
    <p>Username: {{userProfile.UserName}}</p>
    <p>Email: {{userProfile.email}}</p>
    <p>Birthday: {{userProfile.Birthday | date:'dd/MM/yyyy'}}</p>
    <button mat-raised-button color="primary" (click)="goBack()">Back</button>
    <button mat-raised-button color="primary" (click)="enableEditMode()">Edit profile</button>
  </div>
  <div *ngIf="editMode" id="edit-form">
    <div class="input-group">
      <label class="edit-label">Username:</label>
      <input [(ngModel)]="userProfile.UserName" class="edit-input"/>
    </div>
    <div class="input-group">
      <label class="edit-label">Email:</label>
      <input [(ngModel)]="userProfile.email" class="edit-input"/>
    </div>
    <div class="button-group">
      <button mat-raised-button color="primary" (click)="cancelEdit()">Back</button>
      <button mat-raised-button color="primary" (click)="saveProfile()">Save profile</button>
    </div>
  </div>
</div>