h1 {
  text-align: center;
  color: royalblue;
}

div {
  padding: 20px;
  border-radius: 10px;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: royalblue;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: white;
  color: royalblue;
}

.edit-label {
  font-size: 14px;
}

.edit-input {
  width: 100%; /* The width of the input field in editMode */
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px; /* The size of the text in the input field in editMode */
}

#profile-form,
#edit-form {
  border: 3px solid royalblue;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

@media (min-width: 300px) {
  #profile-form,
  #edit-form {
    width: 80%;
  }
}

/* Styles for viewports that are at least 900px wide */
@media (min-width: 900px) {
  #profile-form,
  #edit-form {
    width: 50%;
  }
}
